body {
    font-family: Arial, sans-serif;
    padding-left: 20px;
    background-color: #f0f0f0;
}

/* .form-control {
    max-width: 200px;
}

.btn-primary {
    margin-top: 1rem;
} */

.container {
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
}

.zagolovok {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
}

.text {
    font-size: 20px;
}


#carouselExampleIndicators {
    width: 950px;
}

.carousel-control-prev-icon {
    background-color: black;
    margin-left: -120px;
}

.carousel-control-next-icon {
    background-color: black;
    margin-right: -120px;
}

.carousel-indicators {
    margin-bottom: 0rem;
}