{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Социодемографические данные</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/sociodemographic.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body class="p-3 m-0 border-0 bd-example m-0 border-0">
    <div class="container" style="margin-left: 10px;">
        <div class="row align-items-start">
            <div class="col-md-6 text-content">
                <h1 class="zagolovok">Социальные и демографические показатели</h1>
                <div class="text">Проанализировав данные статистических карт клиники, мы пришли к выводу, что получено нормальное распределение пациентов по возрасту. Средний
                    возраст пациента
                    клиники -
                    от
                    50 до 70 лет, при этом женщин наблюдалось 118 тысяч человек, а мужчин - 35 тысяч (разница в 3,4 раза).
                    Большинство пациентов (около 67 %) состоят в браке, из них детей имеют 95,5 % пациентов. Среди тех, кто не состоит в браке, доля имеющих детей составляет 60,6
                    %.
                    Наличие законченного высшего или среднего профессионального образования наблюдается у 51,1 % пациентов, то есть у тех, кто учился 4 или 5 лет. Доля тех, кто не
                    работал
                    на
                    момент обращения в клинику составляла 45,3 %.
                    По показателю “наследственной отягощенности” пациентов выявлено, что 52,3 % пациентов не предрасположены к болезням, 27,9% отрицают наличие психических
                    заболеваний
                    у
                    родственников, а 19,4 % признают наличие наследственной отягощенности. Среди тех, кто признает таковую, главными причинами отягощенности являются психические
                    травмы
                    родственников (79,3 %), алкоголизм среди родственников (19,7 %) и суицид близкого человека (1 % от всех случаев выявленной наследственной отягощенности).
                </div>
            </div>
            <div class="col-md-6 carousel-container">
                <div id="carouselExampleIndicators" class="carousel slide">
                    <div class="carousel-indicators" style="margin-bottom: 0rem;">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"
                            style="background-color: black;"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2" style="background-color: black;"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3" style="background-color: black;"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="data:image/png;base64,{{ data }}" class="d-block w-100">
                        </div>
                        <div class="carousel-item">
                            <img src="data:image/png;base64,{{ data1 }}" class="d-block w-100">
                        </div>
                        <div class="carousel-item">
                            <img src="data:image/png;base64,{{ data2 }}" class="d-block w-100">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>