{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Данные по амбулаторным и стационарным больным</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/srarionary_outpatient.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body class="p-3 m-0 border-0 bd-example m-0 border-0">
    <h1 class="zagolovok">Данные по амбулаторным и стационарным больным</h1>
    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators" style="margin-bottom: 0rem;">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"
                style="background-color: black;"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2" style="background-color: black;"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3" style="background-color: black;"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="data:image/png;base64,{{ data5 }}" class="d-block w-100">
            </div>
            <div class="carousel-item">
                <img src="data:image/png;base64,{{ data6 }}" class="d-block w-100">
            </div>
            <!-- <div class="carousel-item">
                <img src="data:image/png;base64,{{ data2 }}" class="d-block w-100">
            </div> -->
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</body>

</html>